textarea {
  display: block;
  min-width: 500px;
  resize: vertical;
  margin-left: 5px;
}

.discord-message-list{
  background: #36383f;
  color: #dcddde;
  margin-top: 25px;
  margin-left: 15px;

  ul {
    list-style-type: none;
  }
  ul li {
    margin: 5px;
  }
}

.discord-message{
  display: flex;
  align-items: center;
}

.discord-avatar{
  img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
  } 
}

.discord-message{
  display: flex;
  align-items: center;
}

.discord-data{
  background: #36383f;
  color: #dcddde;

  display: flex;
  align-items: baseline ;
  justify-content: space-between;

  .discord-data-channels{
    background: #2f3036;
    margin-right: 25px;
    margin-top: 15px;

  }
  .discord-data-channels{
    background: #2f3036;
    margin-right: 25px;
    margin-top: 15px;

  }
}

.discord-message-content{
  padding-left: 7px;
}

.discord-channel-list{
  column-count: 2;

  .discord-channel-list-element{
    padding: 10px;
  }
}

.discord-join-info{
  background: #2f3036;
  color: #dcddde;
  border: 5px solid rgb(172, 28, 28);
  padding: 20px;
  width: fit-content;
}