textarea {
  display: block;
  min-width: 500px;
  resize: vertical;
  margin-left: 5px;
}

.discord-message-list{
  background: #36383f;
  color: #dcddde;

  ul {
    padding: 20px;
  }
  ul li {
    margin: 5px;
  }
}
