textarea {
  display: block;
  min-width: 500px;
  resize: vertical;
  margin-left: 5px;
}



.discord-message-list{
  ul {
    background: #36383f;
    padding: 20px;
  }

  ul li {
    background: #36383f;
    color: #dcddde;
    margin: 5px;
  }
}
